body {
  background-color: gray;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: cursive;
}

button {
  width: fit-content;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  margin-left: 1rem;
  cursor: pointer;
}

.player,
.computer{
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 1rem;
}